{% extends 'base.html' %}
{% block title %} About us {% endblock %}
{% block content %}

<div class="container mx-auto mb-5">
<div class=" text-center my-5">
    <h3>About us</h3>

</div>

<p>
    Knowledge Network Nepal (KNN) is established with one simple idea of exchanging books, with the
    intent of saving money but growing our knowledge. We all have experienced that the feeling of reading
    a physival book cannot be replaced by its digital form, but it has a negative effect on the environment
    and of course our pockets. KNN is here to minimize those consequences but most importantly to
    contribute towards the culture of sharing knowledge with the message “Gayan Badhe Badhacha”.
</p>
<p>
    We are registered as a private company with a goal to improve the quality of education and human
    resources in Nepal. Our earnings will only cover our operating cost and the excess funds will be invest in
    our community. Our mission is to make our youth rich with knowledge and our nation rich of productive
    human resources.
</p>
 
</div>
{% endblock %}