{% extends 'base.html' %}
{% block title %} Terms and conditions {% endblock %}

{% block content %}

<div class="container mx-auto mb-5">
    <div class=" text-center my-5">
        <h3>    Term and conditions
        </h3>
    
    </div>
<p class="">
    1. To be a member you have to complete all the required forms properly, pay the required fee and exchange three books with KNN.

</p>
<p class="">
    2. Once you have submitted your books to KNN, you may not get the same books back. 

</p>
<p class="">
    3. If you wish to pay Rs. 1000 deposit for the membership instead of books, you have a right to refund it only after your membership expires. You will have only 3 months to claim your refund after your membership expires.

</p>
<p class="">
    4. Exchanged books can be kept for one year. You have to pay Rs. 70 delivery charge and Rs. 50 for two books you exchange at a time. 

</p>
<p class="">
    5. Company has a right to reject the membership based on the books submitted. Book price range must be between Rs.300 to Rs.600 and should be in good conditions. 

</p>
<p class="">
    6. If the exchanged books are damaged or returned in poor condition that member will be liable for a fine. 

</p>
<p class="">
    7. If a member refuses to pay the fine, their membership will be terminated and will not be eligible for refund of any fees or books.

</p>
<p class="">
    8. If a member uses any offensive language in our discussion form his/her account might be suspended for a few months. 

</p>
<p class="">
    9. As a member you will only be able to use the services that are listed in our website. Other than that, you won’t be able to change or claim your membership right with the company. 
</p>

<p class="">
    10. Once you pay the membership fee it won’t be refunded.  <br>
</p>
<p class="">
    11. While exchanging books for the second time you must exchange it with the same book provided by KNN in your first exchange and the book must be in good conditions. 
</p>



</div>
{% endblock %}