{% extends 'base.html' %}

{% block content %}
<h2>Books</h2>
{% for object in object_list %}
    {{object.book_name}} <br>
{% endfor %}

{% if object_list|length < 3 %}
<form method="POST" action="{% url 'add_new_book' %}">
    {% csrf_token %}
    {{book_form}}
    <button type="submit">Add Book</button>
</form>
{% endif %}

<br>    
<h2>Deposit</h2>
{% for deposit in deposits %}
    {{deposit.deposit_date}}<br>
    Rs {{deposit.amount}}<br>
    Status: {{deposit.verified}}<br>

{% endfor %}
<br>
<form method="POST" action="{% url 'add_deposit' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{deposit_form}}
    <button type="submit">Deposit</button>

</form>
{% endblock %}