{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="login-box">
  <div class="card">

    <div class="card-body login-card-body rounded">
      <img class="mx-auto d-block" src="{% static 'image/logo.png' %}" alt="" height="100px">
 <br>
      <h4 class="d-flex justify-content-center">Knowledge Network Nepal</h4>
       
      
     <div class="col-12 text-center">
         Password has been reset
     </div>
     <div class="col-6 mx-auto">
         <div class="mx-auto text-center">
            <a href="{% url 'registration' %}" class="btn btn-primary my-5">Login</a>

         </div>
     </div>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
{% endblock %}

