{% extends 'settings.html' %}
{% load static %}
{% block content %}
<div class="mt-5">
  <div class="card">

    <div class="card-body login-card-body rounded">
      <img class="mx-auto d-block" src="{% static 'image/logo.png' %}" alt="" height="100px">

 <br>
      <h4 class="d-flex justify-content-center">Knowledge Network Nepal</h4>
      <div class="mx-auto container text-center row">
        <div class="col-6 mx-auto">

      <p class="login-box-msg ">Email Address</p>
       

      <form method="post" class="mx-auto">
        
        {% csrf_token %}
        <div class="col-10 input-group mb-3 ml-5">
          <input type="email" class="form-control" name="email" autocomplete="email" maxlength="254" required id="id_email">
          <div class="input-group-append ">
            <div class="input-group-text form-control">
              <span class="fas fa-envelope "></span>
            </div>
          </div>
        </div>
        <div>
          <div class="col-12">
            <button type="submit" class="btn btn-outlined">Send Reset Link</button>
          </div>
        </div>
        {% if error %}
						<li class="text-black ml-5"><b>{{error}}</b></li>
						{% endif %}
      </form>
    </div>

    </div>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
{% endblock content %}

