{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="login-box container d-flex justify-content-center mb-5 pb-5">
  <div class="card">

    <div class="card-body login-card-body rounded">
      <img class="mx-auto d-block" src="{% static 'image/logo.png' %}" alt="" height="100px">
 <br>
 <h4 class="d-flex justify-content-center">Knowledge Network Nepal</h4>
         
       </div>
 <form method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <button type="submit" class="btn btn-primary mt-2"> Reset Password </button>
</form>
     

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
{% endblock content %}




  

</body>
</html>