{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/plugins.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
</head>

<body>
    <div class="site-wrapper" id="top">
        <div class="site-header d-none d-lg-block">
            <div class="header-middle pt--10 pb--10">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 ">
                            <a href="{% url 'list_books' %}" class="site-brand">
                                <img src="{% static 'image/logo.png' %}" alt="" class="logo"> 
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <div class="header-phone ">
                                <div class="icon">
                                    <i class="fas fa-headphones-alt"></i>
                                </div>
                                <div class="text">
                                    <p>Free Support 24/7</p>
                                    <p class="font-weight-bold number">+977-9861446103</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="main-navigation flex-lg-right">
                                <ul class="main-menu menu-right ">
                                    <li class="menu-item has-children">
                                        <a href="{% url 'list_books' %}">Home </a>
                                        
                                    </li>
                                   
                                    <!-- Pages -->
                                   
                                    <!-- Blog -->
                                    <li class="menu-item">
                                        <a href="{% url 'blog_list' %}">Blog </a>
                                        
                                    </li>
                                    <li class="menu-item">
                                        <a href="{% url 'discussion_list' %}">Discussion </a>
                                        
                                    </li>

                                    <li class="menu-item">
                                        <a href="{% url 'event_list' %}">Event</a>
                                    </li>
                                    
                                     {% if user.is_authenticated %}

                                    <li class="menu-item has-children">
                                        <a href="javascript:void(0)">Account </a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'cart' %}">Cart</a></li>
                                            <li><a href="{% url 'my_account' %}">My Account</a></li>
                                            <li><a href="{% url 'logout' %}">Logout</a></li>

                                        </ul>
                                    </li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom pb--10">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <nav class="category-nav   ">
                                <div>
                                    <a href="javascript:void(0)" class="category-trigger"><i
                                            class="fa fa-bars"></i>Book
                                        categories</a>
                                    <ul class="category-menu">
                                        {% for category in categories %}
                                        <li class="cat-item "><a href="{% url 'category_view' category.slug %}">{{category.category_name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="col-lg-5">
                            <div class="header-search-block">
                                <form action="{% url 'search' %}" method="GET">
                                    <input name='search' type="text"  placeholder="Search entire store here">
                                    <button type="submit">Search</button>
    
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="main-navigation flex-lg-right">
                                <div class="cart-widget">
                                    {% if not user.is_authenticated %}

                                    <div class="login-block">
                                        <a href="{% url 'login_view' %}" class="font-weight-bold">Login</a> <br>
                                        <span>or</span><a href="{% url 'registration' %}">Register</a>
                                    </div>
                                    {% else %}
                                    <div class="login-block">
                                        Hello {{request.user.first_name}}!

                                    </div>
                                    {% endif %}

                                    <div class="cart-block">
                                        <div class="cart-total">
                                            {% if user.is_authenticated %}

                                            <span class="text-number">
                                                {{cart_items|length}}
                                            </span>
                                            {% endif %}

                                            <span class="text-item">
                                                Shopping Cart
                                            </span>
                                            {% if user.is_authenticated %}
                                            
                                
                                            <span class="price">
                                                Rs {{amount}}.00
                                                <i class="fas fa-chevron-down"></i>
                                            </span>
                                            {% else %}
                                            <span class="price">
                                                Rs 0.00
                                                <i class="fas fa-chevron-down"></i>
                                            </span>
                                            {% endif %}

                                        </div>
                                        {% if user.is_authenticated %}

                                        <div class="cart-dropdown-block">

                                            {% for item in cart_items %}

                                            <div class=" single-cart-block ">
                                                <div class="cart-product">
                                                    <a href="{% url 'book_details' item.book.slug %}" class="image">
                                                        <img src="{{item.book.image.url}}" alt="">
                                                    </a>
                                                    <div class="content">
                                                        <h3 class="title"><a href="{% url 'book_details' item.book.slug %}">{{item.book.book_name}}</a>
                                                        </h3>
                                                        <p class="price"><span class="qty">1 ×</span> Rs 25</p>
                                                        <a href="{% url 'delete_cart_item' item.pk %}" class="cross-btn"><i class="fas fa-times"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div class=" single-cart-block ">
                                                <div class="btn-block">
                                                    <a href="{% url 'cart' %}" class="btn">View Cart <i
                                                            class="fas fa-chevron-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-mobile-menu">
            <header class="mobile-header d-block d-lg-none pt--10 pb-md--10">
                <div class="container">
                    <div class="row align-items-sm-end align-items-center">
                        <div class="col-md-4 col-7">
                            <a href="{% url 'list_books' %}" class="site-brand">
                                <img src="{% static 'image/logo.png' %}" alt="" class="logo">
                            </a>
                        </div>
                        <div class="col-md-5 order-3 order-md-2">
                            <nav class="category-nav   ">
                                <div>
                                    <a href="javascript:void(0)" class="category-trigger"><i
                                            class="fa fa-bars"></i>Book
                                        categories</a>
                                    <ul class="category-menu">
                                        
                                        {% for category in categories %}
                                        <li class="cat-item "><a href="{% url 'category_view' category.slug %}">{{category.category_name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="col-md-3 col-5  order-md-3 text-right">
                            <div class="mobile-header-btns header-top-widget">
                                <ul class="header-links">
                                    <li class="sin-link">
                                        <a href="{% url 'cart' %}" class="cart-link link-icon"><i class="ion-bag"></i></a>
                                    </li>
                                    <li class="sin-link">
                                        <a href="javascript:" class="link-icon hamburgur-icon off-canvas-btn"><i
                                                class="ion-navicon"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!--Off Canvas Navigation Start-->
            <aside class="off-canvas-wrapper">
                <div class="btn-close-off-canvas">
                    <i class="ion-android-close"></i>
                </div>
                <div class="off-canvas-inner">
                    <!-- search box start -->
                    <div class="search-box offcanvas">
                        <form>
                            <input type="text" placeholder="Search Here">
                            <button class="search-btn"><i class="ion-ios-search-strong"></i></button>
                        </form>
                    </div>
                    <!-- search box end -->
                    <!-- mobile menu start -->
                    <div class="mobile-navigation">
                        <!-- mobile menu navigation start -->
                        <nav class="off-canvas-nav">
                            <ul class="mobile-menu main-mobile-menu">
                                <li class="menu-item has-children">
                                    <a href="{% url 'list_books' %}">Home </a>
                                    
                                </li>
                               
                                <!-- Pages -->
                             

                                <!-- Blog -->

                                <li class="menu-item has-children mega-menu">
                                    <a href="{% url 'blog_list' %}">Blog </a>
                                    
                                </li>
                                 <li class="menu-item">
                                        <a href="{% url 'discussion_list' %}">Discussion </a>
                                        
                                    </li>
                                {% if not user.is_authenticated %}

                                <li class="menu-item">
                                    <a href="{% url 'login_view' %}">Login</a>
                                </li>
                                <li class="menu-item">
                                    <a href="{% url 'registration' %}">Register</a>
                                </li>
                                {% endif %}
                                <li class="menu-item">
                                    <a href="{% url 'event_list' %}">Event</a>
                                </li>
                                   <li class="menu-item">
                                        <a href="{% url 'discussion_list' %}">Discussion </a>
                                        
                                    </li>
                                   {% if user.is_authenticated %}
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0)">Account</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'cart' %}">Cart</a></li>
                                        <li><a href="{% url 'my_account' %}">My Account</a></li>
                                        <li><a href="{% url 'logout' %}">Logout</a></li>

                                    </ul>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                        <!-- mobile menu navigation end -->
                    </div>
                    <!-- mobile menu end -->
                    <nav class="off-canvas-nav">
                        <ul class="mobile-menu menu-block-2">
                            <li class="menu-item-has-children">
                                <a href="#">Currency - NPR</a>
                            
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Lang - Eng</a>
                              
                            </li>
                            {% if user.is_authenticated %}

                            <li class="menu-item-has-children">
                                <a href="#">My Account <i class="fas fa-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'my_account' %}">My Account</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    <div class="off-canvas-bottom">
                        <div class="contact-list mb--10">
                            <a href="" class="sin-contact"><i class="fas fa-mobile-alt"></i> + 977 9861446103 </a>
                            <a href="" class="sin-contact"><i class="fas fa-envelope"></i>info@knnpeal.com</a>
                        </div>
                        <div class="off-canvas-social">
                            <a href="https://www.facebook.com/KNN-Knowledge-Network-Nepal-100441181851102" class="single-icon"><i class="fab fa-facebook-f" target='_blank'></i></a>
                            <a href="https://twitter.com/knnepal1" class="single-icon"><i class="fab fa-twitter" target='_blank'></i></a>
                            <a href="https://www.instagram.com/knnepal/" class="single-icon"><i class="fab fa-facebook-f" target='_blank'></i></a>
                        </div>
                    </div>
                </div>
            </aside>
            <!--Off Canvas Navigation End-->
        </div>
        <div class="sticky-init fixed-header common-sticky">
            <div class="container d-none d-lg-block">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <a href="{% url 'list_books' %}" class="site-brand">
                            <img src="{% static 'image/logo--footer.png' %}" alt="" class="logo">
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <div class="main-navigation flex-lg-right">
                            <ul class="main-menu menu-right ">
                                <li class="menu-item has-children">
                                    <a href="{% url 'list_books' %}">Home </a>
                                    
                                </li>
                               
                                <!-- Pages -->
                               
                                <!-- Blog -->
                                <li class="menu-item">
                                    <a href="{% url 'blog_list' %}">Blog </a>
                                    
                                </li>
                                <li class="menu-item">
                                    <a href="{% url 'discussion_list' %}">Discussion </a>
                                    
                                </li>

                                <li class="menu-item">
                                    <a href="{% url 'event_list' %}">Event</a>
                                </li>
                                
                                 {% if user.is_authenticated %}

                                <li class="menu-item has-children">
                                    <a href="javascript:void(0)">Account </a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'cart' %}">Cart</a></li>
                                        <li><a href="{% url 'my_account' %}">My Account</a></li>
                                        <li><a href="{% url 'logout' %}">Logout</a></li>

                                    </ul>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% block content %}

    {% endblock %}

    <!--=================================
    Footer Area
    ===================================== -->
    <footer class="site-footer">
        <div class="container">
            <div class="row justify-content-between  section-padding">
                <div class=" col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-footer pb--40">
                        <div class="brand-footer footer-title">
                            <img src="{% static 'image/logo--footer.png' %}" alt="" class="logo">
                        </div>
                        <div class="footer-contact">
                            <p><span class="label">Address:</span><span class="text">Kathmandu, Nepal</p>
                            <p><span class="label">Phone:</span><span class="text">+977 9861446103</span></p>
                            <p><span class="label">Email:</span><span class="text">info@knnepal.com</span></p>
                        </div>
                    </div>
                </div>
                <div class=" col-xl-3 col-lg-2 col-sm-6">
                    <div class="single-footer pb--40">
                        <div class="footer-title">
                            <h3>Information</h3>
                        </div>
                        <ul class="footer-list normal-list">
                         
                            <li><a href="{% url 'contact' %}">Contact us</a></li>
                            <li><a href="{% url 'terms_and_conditions' %}">Terms and Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class=" col-xl-3 col-lg-2 col-sm-6">
                    <div class="single-footer pb--40">
                        <div class="footer-title">
                            <h3>Extras</h3>
                        </div>
                        <ul class="footer-list normal-list">
                            <li><a href="{% url 'aboutus' %}">About Us</a></li>
                            <li><a href="{% url 'contact' %}">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                {% comment %}
                <div class=" col-xl-3 col-lg-4 col-sm-6">
                    <div class="footer-title">
                        <h3>Newsletter Subscribe</h3>
                    </div>
                    <div class="newsletter-form mb--30">
                        <form action="">
                            <input type="email" class="form-control" placeholder="Enter Your Email Address Here...">
                            <button class="btn btn--primary w-100">Subscribe</button>
                        </form>
                    </div>
                    <div class="social-block">
                        <h3 class="title">STAY CONNECTED</h3>
                        <ul class="social-list list-inline">
                            <li class="single-social facebook"><a href="https://www.facebook.com/KNN-Knowledge-Network-Nepal-100441181851102" target='_blank'><i class="ion ion-social-facebook"></i></a>
                            </li>
                            <li class="single-social twitter"><a href="https://twitter.com/knnepal1" target='_blank'><i class="ion ion-social-twitter" ></i></a></li>
                            <li class="single-social instagram"><a href="https://www.instagram.com/knnepal/" target='_blank'><i class="ion ion-social-facebook"></i></a></li>

                        </ul>
                    </div>
                </div>
                {% endcomment %}
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
             
                <p class="copyright-text">Copyright © 2021 <a href="#" class="author"></a>. All Right Reserved.
                    <br>
                    </p>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/ajax-mail.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>