{% extends 'dashboard_base.html' %}
{% load static %}


{% block title %}  Knowledge Network Nepal {% endblock %}

{% block content %} 


<div class="inner">
    <div class="card">
      <div class="dashboard-header mb-3">
        <h6 class="text-primary font-weight-bold">Category details
        </h6>
       
      </div>
      <div class="row mt-4">

        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-4">
              <div class="details">
                <h6>Name</h6>
                <p>{{object.category_name}} </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="details">
                <h6>Slug</h6>
                <p>{{object.slug}}</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="details">
                <h6>Description</h6>
                <p>{{object.description}}</p>
              </div>
            </div>
          <a href="{% url 'dashboard:category_update' object.slug %}" class="btn btn-primary">
            Update
          </a>
    
          </div>
        </div>

      </div>
    </div>
  </div>



{% endblock %}