{% extends 'dashboard_base.html' %}
{% load static %}


{% block title %}  Knowledge Network Nepal {% endblock %}

{% block content %} 


<div class="inner">
    <div class="card">
      <div class="dashboard-header mb-3">
        <h6 class="text-primary font-weight-bold">Orders
        </h6>
        <div class="d-flex align-items-center justify-content-center mt-2 mt-sm-0">
            <a href="{% url 'dashboard:orders' %}" class="btn btn-info mr-2">All Orders</a>
            <a href="{% url 'dashboard:dispatched_orders' %}" class="btn btn-info mr-2">Dispathced</a>
            <a href="{% url 'dashboard:delivered_orders' %}" class="btn btn-info mr-2">Delivered</a>
            <a href="{% url 'dashboard:canceled_orders' %}" class="btn btn-info mr-2">Canceled</a>

          <div class="form-group icon mb-0">

            <form class="form-inline" method="GET" action="{% url 'dashboard:order_search' %}">
              <input type="text" class="form-control" placeholder="Search" name="q">
                <button class="btn btn-outlined"><i class="icon-search"></i></button>
            </form>


          </div>

        </div>

      </div>
      <div class="table-responsive">

        <table class="table table__small d-table">
          <thead>
            <tr>
              <th>S.N</th>
              <th>Member </th>
              <th>Contact</th>
              <th>Status</th>
              <th>Books</th>
              <th>Address</th>
              <th>Action</th>

            </tr>
          </thead>
          <tbody>
            {% for object in object_list %}
        
            <tr>
              <td>{{forloop.counter}}</td>
              <td>
                  <a href="{% url 'dashboard:user_detail' object.user.username %}">
                    {{object.user.first_name}} {{object.user.last_name}} ({{object.user.username}})

                  </a>

              </td>
              <td>{{object.address.phone_number}}</td>
              <td>

                    {% if object.status == 'delivered' %}
                    Delivered
                {% elif object.status == 'canceled' %}
                    Canceled
                {% else %}
                    {% if object.dispatched %}
                    Dispatched
                    {% else %}
                    No Action
                    {% endif %}
                {% endif %}

            </td>
            <td>
                {% for book in object.books.all %}
                <a href="{% url 'dashboard:book_details' book.slug %}">
                    {{book.book_name}} (Available {{book.available}})
                </a><br>
                {% endfor %}
              </td>
          
              <td>
                {{object.address.street}} <br>  
                {{object.address.city}}
             </td>
             <td>
                 {% if object.delivery_status == 'delivered' %}
                    Delivered
                 {% elif object.delivery_status == 'canceled' %}
                    Canceled
                 {% else %}
                    {% if object.dispatched %}
                    <a href="{% url 'dashboard:delivered'  object.pk %}" class="btn btn-success">Deliver</a>
                    {% else %}
                    <a href="{% url 'dashboard:dispatched'  object.pk %}" class="btn btn-primary">Dispatch</a>
                    {% endif %}
                    <a href="{% url 'dashboard:canceled'  object.pk %}" class="btn btn-danger">Cancel</a>
                {% endif %}

             </td>

            </tr>
            {% endfor %}

       
          </tbody>
        </table>
      </div>
    </div>
    {% include 'pagination.html' %}

  </div>

{% endblock %}